

<h1>Data#display</h1>
<p>Find me in app/views/data/display.html.erb</p>

	<!--<i class="fa fa-bicycle"></i> font awesome -->

	<!-- Displays the whole JSON feed -->
	 <%= @dt_h %>

	 <!-- AJAX event called by button -->
	<%= tag "input", { "type" => "button", "value" => "GetData", "id" => "get"} %> 












